/*body {
  background-image: url("../images/design.gif");
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: 100%;
  height: 100%
}*/

html { 
  background: url("../images/design.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 5px;
  width: 100%;
  text-align: center;
  color: black;
}


.topPanel {
  height: 280px;
  text-align: center;
}

font {
  font-size: 60px;
}

#gamePanel {
  position: relative;
  top: 110px;
  bottom: 100px;
  height: 100%;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 150%;
}

#logo {
  width: 300px;
  height: auto;
}

#correct {
  text-align: center;
  font-family: 'Ropa Sans', sans-serif;
}

#dancingTrio {
  width: 70%;
  height: auto;
}

#losses {
  float: right;
  font-family: 'Ropa Sans', sans-serif;
}

#question {
  text-align: center;
}

#results {
  text-align: center;
}

#timer {
  font-size: 36px;
  text-align: center;
}


#q0:hover {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 100%;
  color: blue;
}

#q1:hover {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 100%;
  color: blue;
}

#q2:hover {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 100%;
  color: blue;  
}

#q3:hover {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 100%;
  color: blue;  
}