html { 
  background: url("../images/design.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 5px;
  width: 100%;
  text-align: center;
  color: white;
}


.topPanel {
  height: 280px;
  text-align: center;
  font-size: 60px;
}

#gamePanel {
  position: relative;
  top: 110px;
  bottom: 100px;
  height: 100%;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 140%;
}

#logo {
  width: 300px;
  height: auto;
}

#grade {
  color: aqua;
  font-size: 28px;
}


#correct {
  text-align: center;
  font-family: 'Ropa Sans', sans-serif;
}

#dancingTrio {
  width: 70%;
  height: auto;
}

#losses {
  float: right;
  font-family: 'Ropa Sans', sans-serif;
}

#question, #results {
  text-align: center;
}


#q0:hover, #q1:hover, #q2:hover, #q3:hover {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 100%;
  color: aqua;
}